.jet-cct-admin {
	max-width: 960px;
	.components-panel {
		margin-top: 16px;
	}
	.jet-cct-admin-item__remove {
		display: flex;
		justify-content: flex-end;
		button {
			position: relative;
			margin-top: -41px;
			margin-right: 30px;
			background: #fff;
			z-index: 9999;
		}
	}
}
